@font-face { font-family: "Roboto-Black"; src: url("Roboto-Black.ttf"); }
@font-face { font-family: "Roboto-Regular"; src: url("Roboto-Regular.ttf"); }
@font-face { font-family: "Roboto-Thin"; src: url("Roboto-Thin.ttf"); }
    body {
        font-family: "Roboto-Regular", Arial, sans-serif;
        /* text-align: center; */
        color: #ffffff;
       background: url('../src/icons/protivostoyanie.jpg') center no-repeat fixed;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0;
        margin: 0;
    }

main .work-case {
    width: 300px;
    height: 200px;
    margin: 0 10px 10px 0;
    position: relative;
    background-size: 100%;
    background-position: center;
    transition: background-size .6s ease-in-out;
    box-shadow: 0px 3px 6px 3px #00335a;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}
main div {
    box-sizing: border-box;
    font-size: 22px;
    background-color: rgba(255 255 255 .5);
    text-align: center;
    color:aquamarine;}
    div {
        display: block;
    }
    main .work-case span {
        margin:0px auto;
        display: block;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        font-size: 20px;
        width: 100%;
        padding: 6px;
        background-color: #2a2948;
        transition: background-color .6s ease-in-out;}
        main {
            width: 930px;
            min-height: calc(100vh - 300px);
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;}
            

main {
    width: 930px;
    min-height: calc(100vh - 300px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    position: center;
}
main h2 {
    width: 100%;
    color: #d6f3ff;
    text-shadow: 0px 3px 6px black;
    position: center;
}
aside div {
    display: block;
    letter-spacing: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 20px 24px 12px;
    color: #dbff00;
    font-size: 30px;
    font-weight: 500px;
    
    
}
aside {
    margin-right: 100%;
    position:fixed;
    top: 0;
    width: 270px;
    height: 496px;
    background-color: #02204366;
    display: block;
}

aside a {
    display: block;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px;
    margin: 6px auto;
    color: #dbff00;
    font-size: 20px;
    background-color: #0c0b217a;
    border-radius: 6px 6px 6px 0;
}
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
